<!DOCTYPE html>
<html lang="es" data-color-mode="dark" data-dark-theme="dark">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= guild.name %> | Pingu
    </title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/@primer/css@^17.5.2/dist/primer.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="Header">
            <div class="Header-item Header-item--full">
                <a href="#" class="Header-link f4 d-flex flex-items-center">
                    <img src="<%= client.avatarURL({ format: 'jpg' }) %>" class="mr-2"
                        style="width: 32px; height: 32px; border-radius: 100%;">
                    <span>
                        <%= client.username %>
                    </span>
                </a>
            </div>
            <div class="Header-item mr-0">
                <%= guild.name %>
                    <img style="margin-left: 8px;" class="avatar" alt="Guild Icon"
                        src="<%= guild.iconURL({ dynamic: true, format: 'jpg' }) || 'https://cdn.discordapp.com/embed/avatars/0.png'%>"
                        width="32" height="32">
            </div>
        </div>
        <div class="flash flash-full">
            ¿Problemas con el panel? <a href="https://forms.gle/DJhA7Hbp9fPTXNuR8">Reporta aquí los problemas para
                solucionarlos.</a>
        </div>
        <div class="Layout p-5">
            <div class="Layout-sidebar">
                <div class="Subhead">
                    <div class="Subhead-heading">
                        Gestión del servidor
                    </div>
                </div>
                <nav class="SideNav border">
                    <a class="SideNav-item" href="#system">Sistema</a>
                    <a class="SideNav-item" href="#welcome">Bienvenidas</a>
                    <a class="SideNav-item" href="#farewell">Despedidas</a>
                    <a class="SideNav-item" href="#moderation">Moderación</a>
                    <a class="SideNav-item" href="custom/responses">Respuestas Custom</a>
                    <a class="SideNav-item" href="/dashboard/custom/commands">Comandos Custom</a>
                </nav>
                <div class="Subhead Subhead--spacious">
                    <div class="Subhead-heading">
                        Compromiso y Diversión
                    </div>
                </div>
                <nav class="SideNav border">
                    <a class="SideNav-item" href="#leveling" aria-current="page">Niveles</a>
                </nav>
                <div class="Subhead Subhead--spacious">
                    <div class="Subhead-heading">
                        Enlaces de interés
                    </div>
                </div>
                <nav class="SideNav border">
                    <a class="SideNav-item"
                        href="https://discord.com/oauth2/authorize?client_id=827199539185975417&scope=bot+applications.commands&permissions=1933044831&redirect_uri=https%3A%2F%2Fpingu.duoestudios.es&response_type=code">Nuevo
                        Servidor <i class="fab fa-discord float-right"></i></a>
                    <a class="SideNav-item" href="https://discord.gg/pyJhaS7nP7">Servidor de Soporte <i
                            class="fas fa-hands-helping float-right"></i></a>
                    <a class="SideNav-item" href="https://top.gg/bot/827199539185975417/">Pingu en Top.GG <i
                            class="fas fa-external-link-alt float-right"></i></a>
                    <a class="SideNav-item" href="https://forms.gle/DJhA7Hbp9fPTXNuR8">Reportar problemas <i
                            class="fas fa-bug float-right"></i></a>
                    <button class="SideNav-item" id="MSwl3yH">Cerrar Sesión<i
                            class="fas fa-sign-out-alt float-right"></i></button>
                </nav>
            </div>
            <div class="Layout-main">
                <form id="system">
                    <input type="hidden" name="frmname" value="system" />
                    <div class="Subhead">
                        <div class="Subhead-heading">
                            <%= lan.system.title %>
                        </div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" type="submit" id="X3Rh42oq" disabled>Guardar</button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-body">
                            <label for="EEScEqQw" class="form-label">
                                <%= lan.system.prefix %>
                            </label>
                            <input type="text" id="EEScEqQw" name="EEScEqQw" class="form-control"
                                value="<%= bbdd.prefix %>" placeholder="/" required>
                        </div>
                    </div>
                </form>
                <form id="welcome">
                    <input type="hidden" name="frmname" value="welcome" />
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">
                            <%= lan.welcome.title %>
                        </div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="qYgCExvNIy" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-header py-0">
                            <div class="form-checkbox">
                                <label>
                                    <% if(bbdd.welcome_enabled===1 ) {%>
                                        <input type="checkbox" checked="checked" id="LNV5Ljl" name="LNV5Ljl"
                                            value="LNV5Ljl" />
                                        <% } else { %>
                                            <input type="checkbox" id="LNV5Ljl" name="LNV5Ljl" value="LNV5Ljl" />
                                            <% } %>
                                                <%= lan.enableModule %>
                                </label>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="AZGW50Tc4p">
                                    <%= lan.welcome.message %>
                                </label>
                                <textarea name="AZGW50Tc4p" id="AZGW50Tc4p"
                                    class="form-control"><%= bbdd.welcome_message %></textarea>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="daLuxtTuG5">
                                    <%= lan.welcome.channel %>
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="form-select" name="daLuxtTuG5" id="daLuxtTuG5">
                                    <% channels.forEach(c=> {
                                        if(c.channel_id == bbdd.welcome_channel){
                                        %>
                                        <option value="<%= c.channel_id %>" selected>#<%= c.channel_name %>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= c.channel_id %>">#<%= c.channel_name %>
                                            </option>
                                            <% }}) %>
                                </select>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <% if(bbdd.welcome_image===1 ) {%>
                                        <input type="checkbox" checked="checked" id="vyKS7bC" name="vyKS7bC"
                                            value="vyKS7bC" />
                                        <% } else { %>
                                            <input type="checkbox" id="vyKS7bC" name="vyKS7bC" value="vyKS7bC" />
                                            <% } %> <label class="form-check-label" for="vyKS7bC">
                                                    <%= lan.welcome.imageOnJoin %>
                                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <%= lan.welcome.giveRole %>
                                    <%= lan.welcome.giveRoleHelp %>
                                        <div class="form-group">
                                            <label for="nviCCd9jDc">Roles que dar</label>
                                            <select name="nviCCd9jDc" id="nviCCd9jDc" class="input-block"
                                                multiple="multiple" data-placeholder="Escriba para buscar roles...">
                                                <% roles.forEach(r=> {
                                                    if(r.roles_id == bbdd.welcome_roles){
                                                    %>
                                                    <option value="<%= r.role_id %>" selected>@<%= r.role_name %>
                                                    </option>
                                                    <% } else { %>
                                                        <option value="<%= r.role_id %>">@<%= r.role_name %>
                                                        </option>
                                                        <% }}) %>
                                            </select>
                                        </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="farewell">
                    <input type="hidden" name="frmname" value="farewell" />
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">Despedidas</div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="zbjt55v" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-header py-0">
                            <div class="form-checkbox">
                                <label>
                                    <% if(bbdd.farewell_enabled===1 ) {%>
                                        <input type="checkbox" checked="checked" id="noLp3EI" name="noLp3EI"
                                            value="noLp3EI" />
                                        <% } else { %>
                                            <input type="checkbox" id="noLp3EI" name="noLp3EI" value="noLp3EI" />
                                            <% } %>
                                                <%= lan.enableModule %>
                                </label>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="pfeZmgU">
                                    <%= lan.farewell.message %>
                                </label>
                                <textarea name="pfeZmgU" id="pfeZmgU"
                                    class="form-control"><%= bbdd.farewell_message %></textarea>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="tKDIdy1">
                                    <%= lan.farewell.channel %>
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="form-select" name="tKDIdy1" id="tKDIdy1">
                                    <% channels.forEach(c=> {
                                        if(c.channel_id == bbdd.salida_canal_id){
                                        %>
                                        <option value="<%= c.channel_id %>" selected>#
                                            <%= c.channel_name %>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= c.channel_id %>">#<%= c.channel_name %>
                                            </option>
                                            <% }}) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="moderation">
                    <input type="hidden" name="frmname" value="moderation" />
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">Moderación</div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="DJxuG8K" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-header py-0">
                            <div class="form-checkbox">
                                <label>
                                    <% if(bbdd.moderator_enabled===1 ) {%>
                                        <input type="checkbox" checked="checked" id="Y2adeog" name="Y2adeog"
                                            value="Y2adeog" />
                                        <% } else { %>
                                            <input type="checkbox" id="Y2adeog" name="Y2adeog" value="Y2adeog" />
                                            <% } %>
                                                <%= lan.enableModule %>
                                </label>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-checkbox">
                                <label>
                                    <% if(bbdd.moderador_warn_expulsion_activado===1 ) {%>
                                        <input type="checkbox" checked="checked" id="OxV1juz" name="OxV1juz"
                                            value="OxV1juz" />
                                        <% } else { %>
                                            <input type="checkbox" id="OxV1juz" name="OxV1juz" value="OxV1juz" />
                                            <% } %>
                                                Tomar acciones automáticamente si un usuario alcanza una cierta cantidad
                                                de infracciones
                                </label>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="DHLJ2YI" class="form-label">
                                    Cantidad necesaria de advertencias para tomar acciones
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="number" id="DHLJ2YI" name="DHLJ2YI" class="form-control"
                                    value="<%= bbdd.moderador_warn_expulsion_cantidad %>" min="1" placeholder="10"
                                    required>
                            </div>
                            <label for="AkeMlvn" class="form-label">
                                ¿Qué acción tomar?
                            </label>
                            <div class="form-group">
                                <select class="form-select" name="AkeMlvn" id="AkeMlvn">
                                    <% if(bbdd.moderador_warn_expulsion_accion===1){ %>
                                        <option value="1" selected>Expulsión Permanente</option>
                                        <option value="0" disabled>Expulsión Temporal</option>
                                        <option value="0">Expulsión</option>
                                        <% } else { %>
                                            <option value="1">Expulsión Permanente</option>
                                            <option value="0" disabled>Expulsión Temporal</option>
                                            <option value="0" selected>Expulsión</option>
                                            <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="custom_cmds">
                    <input type="hidden" name="frmname" value="ccmd" />
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">Comandos personalizados</div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="HgIODwj" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="flash mt-3 flash-warn">
                        Los Comandos Personalizados tienen su propia página...
                    </div>
                </form>
                <form id="custom_responses">
                    <input type="hidden" name="frmname" value="cres" />
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">Respuestas personalizados</div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="SXGTkCy" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="flash mt-3 flash-warn">
                        Las Respuestas Personalizadas tienen su propia página...
                    </div>
                </form>
                <form id="leveling">
                    <input type="hidden" name="frmname" value="leveling" />
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">Niveles</div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="Fw3w5X4" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-header py-0">
                            <div class="form-checkbox">
                                <label>
                                    <% if(bbdd.leveling_enabled===1 ) {%>
                                        <input type="checkbox" checked="checked" id="QTMVmdD" name="QTMVmdD"
                                            value="QTMVmdD" />
                                        <% } else { %>
                                            <input type="checkbox" id="QTMVmdD" name="QTMVmdD" value="QTMVmdD" />
                                            <% } %>
                                                <%= lan.enableModule %>
                                </label>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="pfeZmgU">
                                    Mensaje de Anuncios de Subida de Nivel
                                </label>
                                <textarea name="Q8xq8vO" id="Q8xq8vO"
                                    class="form-control"><%= bbdd.leveling_rankup_message %></textarea>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="ELMb9ge">
                                    Anuncios de Subida de Nivel
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="form-select" name="ELMb9ge" id="ELMb9ge">

                                    <% channels.add({ "channel_name" : "Canal Actual" , "channel_id" : "0" });
                                        channels.forEach(c=> {
                                        if(c.channel_id==bbdd.leveling_rankup_channel){ %>
                                        <option value="<%= c.channel_id %>" selected>#
                                            <%= c.channel_name %>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= c.channel_id %>">#<%= c.channel_name %>
                                            </option>
                                            <% }}) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="p-6">
        <div class="float-right d-none d-sm-inline">

            Code with <button class="btn-link" id="darkswitch">❤️</button> in Spain
        </div>
        <strong>Copyright &copy; <%= new Date().getFullYear() %> <a
                    href="https://github.com/alexandrumuntenas">Alexandru
                    Theodor Muntenas</a>.</strong>
        All
        rights
        reserved.
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
        integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"
        integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.2/wordpress-admin/wordpress-admin.min.css">
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-right',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true
        })
        $(document).ready(function () {
            $('#nviCCd9jDc').chosen({ no_results_text: "Oops, no hemos encontrado el rol: " });
        });
        $("#EEScEqQw").keyup(function () {
            $('#X3Rh42oq').removeAttr('disabled');
        });
        $("#system").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#X3Rh42oq').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            });

        });
        $("#AZGW50Tc4p").keyup(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#daLuxtTuG5").change(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#LNV5Ljl").change(function (e) {
            $('#qYgCExvNIy').removeAttr('disabled');
            if ($("#LNV5Ljl").attr('checked', 'checked')) {
                $('#welcome_dot').addClass('fas').removeClass('far');
            } else {
                $('#welcome_dot').removeClass('fas').addClass('far');
            }
        });
        $("#vyKS7bC").change(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#nviCCd9jDc").change(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#welcome").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                crossDomain: true,
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#qYgCExvNIy').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            }).fail(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Se ha producido un error al guardar...'
                });
                $('#qYgCExvNIy').removeAttr('disabled');
            });

        });
        $("#noLp3EI").change(function () {
            $('#zbjt55v').removeAttr('disabled');
        });
        $("#pfeZmgU").change(function () {
            $('#zbjt55v').removeAttr('disabled');
        });
        $("#tKDIdy1").change(function () {
            $('#zbjt55v').removeAttr('disabled');
        });
        $("#farewell").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#zbjt55v').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            }).fail(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Se ha producido un error al guardar...'
                });
                $('#zbjt55v').removeAttr('disabled');
            });

        });
        $("#Y2adeog").change(function () {
            $('#DJxuG8K').removeAttr('disabled');
        });
        $("#OxV1juz").change(function () {
            $('#DJxuG8K').removeAttr('disabled');
        });
        $("#DHLJ2YI").change(function () {
            $('#DJxuG8K').removeAttr('disabled');
        });
        $("#AkeMlvn").change(function () {
            $('#DJxuG8K').removeAttr('disabled');
        });
        $("#moderation").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#DJxuG8K').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            }).fail(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Se ha producido un error al guardar...'
                });
                $('#DJxuG8K').removeAttr('disabled');
            });

        });
        $("#QTMVmdD").change(function () {
            $('#Fw3w5X4').removeAttr('disabled');
        });
        $("#Q8xq8vO").change(function () {
            $('#Fw3w5X4').removeAttr('disabled');
        });
        $("#ELMb9ge").change(function () {
            $('#Fw3w5X4').removeAttr('disabled');
        });
        $("#leveling").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#Fw3w5X4').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            }).fail(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Se ha producido un error al guardar...'
                });
                $('#Fw3w5X4').removeAttr('disabled');
            });

        });
        $('#MSwl3yH').click(function () {
            $.ajax({
                type: "POST",
                url: '/logout',
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Cerrando sesión...'
                    });
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Redireccionando...'
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                }
            });
        })
        $('#darkswitch').click(function () {
            if ($('html').attr('data-color-mode') == 'dark') {
                if ($('html').attr('data-dark-theme') == 'dark') {
                    $('html').attr('data-dark-theme', 'dark_dimmed');
                } else {
                    $('html').attr('data-color-mode', 'light');
                    $('html').attr('data-dark-theme', 'dark');
                }
            } else {
                $('html').attr('data-color-mode', 'dark');
            }
        })
    </script>
</body>

</html>