<!DOCTYPE html>
<html lang="es" data-color-mode="dark" data-dark-theme="dark">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= guild.name %> | Pingu
    </title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/@primer/css@^17.5.2/dist/primer.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="Header">
            <div class="Header-item Header-item--full">
                <a href="#" class="Header-link f4 d-flex flex-items-center">
                    <img src="<%= client %>" class="mr-2" style="width: 32px; height: 32px; border-radius: 100%;">
                    <span>Pingu</span>
                </a>
            </div>
            <div class="Header-item mr-0">
                <%= guild.name %>
                    <img style="margin-left: 8px;" class="avatar" alt="Guild Icon"
                        src="<%= guild.iconURL({ dynamic: true, format: 'jpg' }) || 'https://cdn.discordapp.com/embed/avatars/0.png'%>"
                        width="32" height="32">
            </div>
        </div>
        <div class="flash">
            El panel de configuración puede ser inestable o no funcionar de forma correcta.
        </div>
        <div class="Layout p-5">
            <div class="Layout-sidebar">
                <div class="Subhead">
                    <div class="Subhead-heading">
                        Gestión del servidor
                    </div>
                </div>
                <nav class="SideNav border">
                    <a class="SideNav-item" href="#system">Sistema</a>
                    <a class="SideNav-item" href="#welcome">Bienvenidas <i class="fa-circle float-right"
                            id="welcome_dot"></i></a>
                    <a class="SideNav-item" href="#farewell">Despedidas <i class="fa-circle float-right"
                            id="farewell_dot"></i></a>
                    <a class="SideNav-item" href="#moderation">Moderación <i class="fa-circle float-right"
                            id="moderation_dot"></i></a>
                </nav>
                <div class="Subhead Subhead--spacious">
                    <div class="Subhead-heading">
                        Compromiso y Diversión
                    </div>
                </div>
                <nav class="SideNav border">
                    <a class="SideNav-item" href="#leveling">Niveles <i class="fas fa-circle float-right"></i></a>
                    <a class="SideNav-item" href="#economy">Economía <i class="fas fa-circle float-right"></i></a>
                </nav>
                <div class="Subhead Subhead--spacious">
                    <div class="Subhead-heading">
                        Enlaces de interés
                    </div>
                </div>
                <nav class="SideNav border">
                    <a class="SideNav-item"
                        href="https://discord.com/oauth2/authorize?client_id=827199539185975417&scope=bot+applications.commands&permissions=1933044831&redirect_uri=https%3A%2F%2Fpingu.duoestudios.es&response_type=code">Nuevo
                        Servidor <i class="fab fa-discord float-right"></i></a>
                    <a class="SideNav-item" href="https://discord.gg/pyJhaS7nP7">Servidor de Soporte <i
                            class="fas fa-hands-helping float-right"></i></a>
                    <a class="SideNav-item" href="https://top.gg/bot/827199539185975417/">Pingu en Top.GG <i
                            class="fas fa-external-link-alt float-right"></i></a>
                    <a class="SideNav-item" href="https://forms.gle/DJhA7Hbp9fPTXNuR8">Reportar problemas <i
                            class="fas fa-bug float-right"></i></a>
                </nav>
            </div>
            <div class="Layout-main">
                <form id="system">
                    <div class="Subhead">
                        <div class="Subhead-heading">
                            <%= lan.system.title %>
                        </div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="X3Rh42oq" disabled>Guardar</button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-body">
                            <label for="EEScEqQw" class="form-label">
                                <%= lan.system.prefix %>
                            </label>
                            <input type="text" id="EEScEqQw" name="EEScEqQw" class="form-control"
                                value="<%= bbdd.prefix %>" placeholder="/" required>
                        </div>
                    </div>
                </form>
                <form id="welcome">
                    <div class="Subhead Subhead--spacious">
                        <div class="Subhead-heading">
                            <%= lan.welcome.title %>
                        </div>
                        <div class="Subhead-actions">
                            <button class="btn btn-sm btn-primary" role="button" id="qYgCExvNIy" disabled>
                                <%= lan.save %>
                            </button>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="Box-header py-0">
                            <div class="form-checkbox">
                                <label>
                                    <% if(bbdd.bienvenida_mensaje_activado===1 ) {%>
                                        <input type="checkbox" checked="checked" id="LNV5Ljl" name="LNV5Ljl"
                                            value="LNV5Ljl" />
                                        <% } else { %>
                                            <input type="checkbox" id="LNV5Ljl" name="LNV5Ljl" value="LNV5Ljl" />
                                            <% } %>
                                                <%= lan.enableModule %>
                                </label>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="AZGW50Tc4p">
                                    <%= lan.welcome.message %>
                                </label>
                                <textarea name="AZGW50Tc4p" id="AZGW50Tc4p"
                                    class="form-control"><%= bbdd.bienvenida_mensaje %></textarea>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <label for="daLuxtTuG5">
                                    <%= lan.welcome.channel %>
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="SelectMenu-input form-select" name="daLuxtTuG5" id="daLuxtTuG5">
                                    <% channels.forEach(c=> {
                                        if(c.channel_id == bbdd.bienvenida_canal_id){
                                        %>
                                        <option value="<%= c.channel_id %>" selected>#
                                            <%= c.channel_name %>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= c.channel_id %>">#<%= c.channel_name %>
                                            </option>
                                            <% }}) %>
                                </select>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <% if(bbdd.bienvenida_cartel===1 ) {%>
                                        <input type="checkbox" checked="checked" id="vyKS7bC" name="vyKS7bC"
                                            value="vyKS7bC" />
                                        <% } else { %>
                                            <input type="checkbox" id="vyKS7bC" name="vyKS7bC" value="vyKS7bC" />
                                            <% } %> <label class="form-check-label" for="vyKS7bC">
                                                    <%= lan.welcome.imageOnJoin %>
                                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="Box-row py-0">
                            <div class="form-group">
                                <%= lan.welcome.giveRole %>
                                    <%= lan.welcome.giveRoleHelp %>
                                        <div class="form-group">
                                            <label for="nviCCd9jDc">Roles que dar</label>
                                            <select name="nviCCd9jDc" id="nviCCd9jDc" class="input-block"
                                                multiple="multiple" data-placeholder="Escriba para buscar roles...">
                                                <% roles.forEach(r=> {
                                                    if(r.roles_id == bbdd.bienvenida_roles_user){
                                                    %>
                                                    <option value="<%= r.role_id %>" selected>@<%= r.role_name %>
                                                    </option>
                                                    <% } else { %>
                                                        <option value="<%= r.role_id %>">@<%= r.role_name %>
                                                        </option>
                                                        <% }}) %>
                                            </select>
                                        </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="p-6">
        <div class="float-right d-none d-sm-inline">
            Code with ❤️ in Spain
        </div>
        <strong>Copyright &copy; <%= new Date().getFullYear() %> <a
                    href="https://github.com/alexandrumuntenas">Alexandru
                    Theodor Muntenas</a>.</strong>
        All
        rights
        reserved.
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
        integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"
        integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.2/wordpress-admin/wordpress-admin.min.css">
    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-right',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true
        })

        $(document).ready(function () {
            $('#nviCCd9jDc').chosen({ no_results_text: "Oops, no hemos encontrado el rol: " });
            if ($("#LNV5Ljl").attr('checked', 'checked')) {
                $('#welcome_dot').addClass('fas').removeClass('far');
            } else {
                $('#welcome_dot').removeClass('fas').addClass('far');
            }
        });

        $("#EEScEqQw").keyup(function () {
            $('#X3Rh42oq').removeAttr('disabled');
        });

        $("#system").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#X3Rh42oq').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            });

        });

        $("#AZGW50Tc4p").keyup(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#daLuxtTuG5").change(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#LNV5Ljl").change(function (e) {
            $('#qYgCExvNIy').removeAttr('disabled');
            if ($("#LNV5Ljl").attr('checked', 'checked')) {
                $('#welcome_dot').addClass('fas').removeClass('far');
            } else {
                $('#welcome_dot').removeClass('fas').addClass('far');
            }
        });
        $("#vyKS7bC").change(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });
        $("#nviCCd9jDc").change(function () {
            $('#qYgCExvNIy').removeAttr('disabled');
        });

        $("#welcome").submit(function (e) {

            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: "POST",
                url: '/dashboard',
                data: form.serialize(),
                timeout: 60,
                beforeSend: function () {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Guardando...'
                    });
                    $('#qYgCExvNIy').attr('disabled', 'disabled');
                },
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Cambios Guardados'
                    });
                }
            }).fail(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Se ha producido un error al guardar...'
                });
                $('#qYgCExvNIy').removeAttr('disabled');
            });

        });
    </script>
</body>

</html>